/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/


.user-info{
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	width: 34%;
}
.username-field{
	font-weight: bold;
	color: MediumSeaGreen;
}

.role-field{
	font-weight: bold;
	color: DodgerBlue;
}

.btn-logout{
	background-color: DodgerBlue;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	border: 0px;
}
.btn-search{
	border-radius: 5px;
	font-weight: bold;
	border: 0px;
}